
trigger:
  batch: true
  branches:
    include:
      - master

resources:
  repositories:
    - repository: pipelines
      name: kaalsaas/kaalsaas.pipelines
      type: git
      ref: main

parameters:
  - name: "debug"
    displayName: "Enable debug output"
    type: boolean
    default: false

variables:
  system.debug: ${{ parameters.debug }}
  BuildConfiguration: Release
  TargetFramework: net5.0
  cliLocation: "./src/Alwin/Alwin.csproj"
  baseFolderName: "kaalsaas.pipelines"
  projectName: "Alwin"

stages:
  - template: jobs/buildCli.yml@pipelines
    parameters:
      baseFolderName: ${{ variables.baseFolderName }}
      projectName: ${{ variables.projectName }}
      cliLocation: ${{ variables.cliLocation }}
