
trigger:
  batch: true
  branches:
    include:
      - master

resources:
  repositories:
    - repository: pipelines
      name: kaalsaas/kaalsaas.pipelines
      type: git
      ref: main

parameters:
  - name: "debug"
    displayName: "Enable debug output"
    type: boolean
    default: false


variables:
  - name: system.debug
    value: ${{ parameters.debug }}

  - name: BuildConfiguration
    value: Release

  - name: TargetFramework
    value: net5.0

  - name: cliLocation
    value: "./src/Alwin/Alwin.csproj"

  - name: projectName
    value: "Alwin"

  - name: baseFolderName
    value: "kaalsaas.pipelines"

  - name: baseFolderName
    value: "kaalsaas.pipelines"

  - name: Major
    value: 1

  - name: Minor
    value: 2

  - name: ArtifactCounter
    value: $[counter(format('{0}.{1}', variables['Major'], variables['Minor']),0)]

  - name: ArtifactVersion
    value: $(Major).$(Minor).$(ArtifactCounter)

  - name: projects
    value: "**/*.csproj"

stages:
  - template: buildCli.yml@pipelines
    parameters:
      projectName: ${{ variables.projectName }}
      cliLocation: ${{ variables.cliLocation }}
      _stages: 
        - stage: packDotnet
          jobs:
            - job: PackDotnet
              displayName: Pack Dotnet - windows-latest
              pool:
                vmImage: windows-latest 

              variables:
                - name: artifactVersion
                  value: ${{ variables.ArtifactVersion }}

              steps:
                - template: steps/buildDotnetSteps.yml@pipelines
                  parameters:
                    projectName: ${{ variables.projectName }}
                    projects: ${{ variables.projects }}
                    nugetPackageVersion: ${{ variables.ArtifactVersion }}
                    projectsToTest: 
                      - "**/*.csproj"
                    projectsToRestore:
                      - "**/*.csproj"
                    packageVersions:
                      - "2.x"
                      - "5.x"
                    projectsToPack:
                      - "$(Build.SourcesDirectory)/src/Alwin.Common/Alwin.Common.csproj"
                      - "$(Build.SourcesDirectory)/src/Alwin.Tokenizer/Alwin.Tokenizer.csproj"
                    frameworks:
                      - netstandard2.0
                      - netstandard2.1
                      - net5.0